<hr>
<div class="d-flex justify-content-center">
    <div class="container footer d-flex justify-content-center">
        <div class="Shoping flex" >
            <h6 class="item-heading">Topwear</h6>
                <p *ngFor="let topWere of topWeres"><a class="items" href="#">{{topWere}}</a></p>
                <hr>
                <h6 class="item-heading">Indian & Festive Wear</h6>
                <p *ngFor="let festiveWear of festiveWears"><a class="items" href="#">{{festiveWear}}</a></p>
        </div>
        <div class="Shoping div2" >
            <h6 class="item-heading">Bottomwear</h6>
                <p *ngFor="let bottomWear of bottomWears"><a class="items" href="#">{{bottomWear}}</a></p>
                <hr>
                <h6 class="item-heading">Innerwear & Sleepwear</h6>
                <p *ngFor="let innerWear of innerWears"><a class="items" href="#" >{{innerWear}}</a></p>
        </div>
        <div class="Shoping div3" >
            <h6 class="item-heading">Sports & Active Wear</h6>
            <p *ngFor="let sportWere of sportWeres"><a class="items" href="#">{{sportWere}}</a></p>
            <hr>
            <h6 class="item-heading">Gadgets</h6>
            <p *ngFor="let gadget of gadgets"><a class="items" href="#">{{gadget}}</a></p>
        </div>
        <div class="Shoping div4" >
            
        </div>
    </div>
</div>

