*{
    margin: 1px;
    padding: 1px;
    box-sizing: border-box;
}
footer{
    margin-top: 5px;
}

.Shoping{
    display: flex;
    flex-direction: column;
    padding: 10px;
    margin: 2%;
    p > a{
        font-size: 13px;
        line-height: 0;
    text-decoration: none;
    color: rgb(80, 77, 77);
    &:hover{
        font-weight: bold;
        }
    }
}
hr{
    height: 0px;
}
.item-heading{
    color: rgb(226, 58, 29);
    font-size: 15px;
    font-weight: bolder;
}