<div class="">
    <div class="d-flex mt-3 justify-content-center align-items-center ">
        <!-- http://assets.myntassets.com/f_webp,dpr_1.5,q_60,w_400,c_limit,fl_progressive/assets/images/2021/5/28/753666fb-7637-4147-9413-67acc077f8331622192857399-MSB--11-.jpg -->
        <!-- http://assets.myntassets.com/dpr_1.5,q_60,w_400,c_limit,fl_progressive/assets/images/retaillabs/2021/5/28/4749b032-e7ba-48f7-bf04-50a5d29f39a21622211504483-App.jpg citibank -->
        <!-- <div class="d-flex flex-column sbox">
            <div class="img-fluid img sbox"><img src="https://assets.myntassets.com/f_webp,w_245,c_limit,fl_progressive,dpr_2.0/assets/images/2021/5/13/2e2d0243-0e8e-4e0d-9454-27995e6c92671620898381140-Home_DK_10.jpg" alt="" srcset=""></div>
            <div class="img-fluid img sbox"><img src="https://assets.myntassets.com/f_webp,w_245,c_limit,fl_progressive,dpr_2.0/assets/images/2021/5/13/66aa08b3-a75d-4625-83cf-4fa8b33f291c1620898381115-Home_DK_06.jpg" alt="" srcset=""></div>
            <div class="img-fluid img sbox"><img src="https://assets.myntassets.com/f_webp,w_245,c_limit,fl_progressive,dpr_2.0/assets/images/2021/5/13/2e2d0243-0e8e-4e0d-9454-27995e6c92671620898381140-Home_DK_10.jpg" alt="" srcset=""></div>
        </div>
        <div class="d-flex img2 justify-content-center align-items-center">
            <div><img class="img-fluid" src="../../assets/header.png" alt=""></div>
        </div>
        <div class="d-flex flex-column sbox">
            <div class="img-fluid img sbox"><img src="https://assets.myntassets.com/f_webp,w_245,c_limit,fl_progressive,dpr_2.0/assets/images/2021/5/13/8c53cef2-5ae5-496f-89f6-30d8760f1a3e1620898381101-Home_DK_05.jpg"></div>
            <div class="img-fluid img sbox"><img src="https://assets.myntassets.com/f_webp,w_245,c_limit,fl_progressive,dpr_2.0/assets/images/2021/5/13/5f11f82b-76e7-422f-b10c-364310ae76061620898381127-Home_DK_09.jpg"></div>
            <div class="img-fluid img sbox"><img src="https://assets.myntassets.com/f_webp,w_245,c_limit,fl_progressive,dpr_2.0/assets/images/2021/5/13/06ce3023-cc50-40aa-b968-973ebb3ac2041620898381153-Home_DK_13.jpg"></div>
        </div> -->
    <div class="div1big"><img class="img-fluid" src="../../assets/headderfull.png" alt="" srcset=""></div>
    <div class="div2small"><img class="img-fluid" src="../../assets/header.png" alt="" srcset=""></div>
    </div>
    <div class="d-flex justify-content-center align-items-center">
        <div class="div1big"><img class="img-fluid" src="https://assets.myntassets.com/f_webp,w_980,c_limit,fl_progressive,dpr_2.0/assets/images/2021/5/28/63ce59c7-1eba-45a3-a661-ed58227572021622216405096-Desktop.jpg" alt="" srcset=""></div>
        <div class="div2small"><img class="img-fluid" src="https://assets.myntassets.com/dpr_1.5,q_60,w_400,c_limit,fl_progressive/assets/images/retaillabs/2021/5/28/4749b032-e7ba-48f7-bf04-50a5d29f39a21622211504483-App.jpg" alt="" srcset=""></div>
    </div>
</div>