<app-nav-bar style="position: fixed;width: 100%;z-index: 3;"></app-nav-bar>
<div class="d-flex  justify-content-center out-container">
    <div class="login-div">
        <div><img src="https://assets.myntassets.com/f_webp,dpr_1.5,q_60,w_400,c_limit,fl_progressive/assets/images/2021/4/29/fd8014ab-7118-482e-8886-3120cd251f4a1619696754996-Banner_Login-page-400.png" alt=""></div>
        <div class="formss">
            <p><b>Login</b> or <b>SignUp</b></p>
            <div class="input-group mb-3 border">
                <div class="input-group-prepend" style="border-right: 2px solid gray;">
                    <span class="input-group-text" id="basic-addon1">+91</span>
                </div>
                <input type="number" class="form-control" placeholder="Mobile Number *" aria-label="Username" aria-describedby="basic-addon1">
            </div>

            <div class="cont">
                <p>By Continuing, I agree to the <span routerLink="./term"><a>Terms and Uses</a></span> & <span routerLink="./term"><a>Privacy and Policy</a></span> </p>
                <button class="btn btn-danger btn-lg btn-block">Continue</button>
                <p>Have Trouble in Logging ? <span routerLink="./term"><a>Get Help</a></span></p>
            </div>
        </div>
        <div>
        </div>
    </div>


</div>